h1 {
	color: red;
	font-size: 50px;
	font-family: Arial;
}
strong {
	font-weight: normal;
	color: blue;
	font-size: 20px;
}
p,ul {
	text-align: justify;
	/*font-style: italic;*/
	font-family: Verdana;
	
}

header p {
	color: blue;
}

.paragraphe1 {
	text-decoration: underline;
}
section a {
	color: green;
	text-decoration: none;
}
section a:hover {
	text-decoration: overline;
	font-size: 40px;
	color: yellow;
	background-color:red;
}
section a:active {
	color: blue !important;
}

.imgGauche {
	float: left;
	margin-right: 10px;
}
h2 {
	clear:both;
}

#section1 {
	background-color: green;
}
#section2 {
	background-color: antiquewhite;
}
article {
	/*border-width: 5px;
	border-color: red;
	border-style: solid;*/
	
	border: 10px blue dashed;
	border-radius: 30px;
	padding: 0 10px;
	box-shadow: 10px 10px black;
}
article h3 {
	border-bottom: 2px solid black;
}

table {
	width: 50%;
border-collapse: collapse;
}
th, td {
	border:3px solid black;	
 }
caption {
	font-weight: bold;
	font-size: 32px;
}
thead th {
	font-weight: bold;
	background-color: lightgray;
}
tfoot th {
	font-weight: normal;
	font-style: italic;
	background-color: #FFE4E1;
}

td {
	text-align: center;
	font-size: 12px;
	padding: 2px 0;
}

.divGauche, .divDroite {
	width: 45%;
	border: 1px black solid;
	display:inline-block;
	height: 200px;
	padding: 10px;
} 
.divGauche {
	float: left;
	margin-right:5px
}
nav {
	height: 20px;
	background-color:#98FB98;
}
nav a {
	display:block;
	float:left;
	width:100px;
	color:#000;
	text-decoration:none;
	text-align:center;
}
nav a:hover {
	background-color:#000;
	color: #fff;
}
nav ul {
	padding:0;
	margin:0; 
	list-style-type:none;
	
}
label
{
	display: block;
	width: 120px;
	float: left;
}